@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "General Sans";
    src: url("../public/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@layer base {
    body {
        font-family: "General Sans", sans-serif;
    }
}

.appFont {
    font-family: 'Inter', sans-serif;
  
}